.mass-block-twitter-button-block {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  box-sizing: border-box;
  width: 38.5px;
  height: 38.5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mass-block-twitter-button-block:hover {
  background-color: rgba(249, 24, 128, 0.1);
}
.mass-block-twitter-button-block svg {
  stroke: rgb(113, 118, 123);
}
.mass-block-twitter-button-block:hover svg {
  stroke: rgb(249, 24, 128);
}

div:has(> div > [data-testid='reply']) {
  align-items: center;
}
div:has(> div > [data-testid='reply']) > div {
  max-width: fit-content;
}

html.modal-open {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}
